@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: url("images/car-future.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "Lato", sans-serif;
}

nav{
    text-align: right;
}

nav ul li{
    display: inline-block;
    padding: 1%;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

nav ul li a:hover{
    color: rgb(179, 133, 117);
}

.header h1{
    text-transform: uppercase;
    color:rgb(179, 133, 117);
    font-weight: bold;
    font-size: 72px;
    margin: 8% 2%;
}

.content{
    padding-top: 43%;
    padding-left: 2%;
}

article h2{
    text-transform: uppercase;
    color: rgb(179, 133, 117);
    font-weight: bold;
    padding: 1% 0;
}

article img{
    width: 350px;
    height: 260px;
    margin-right: 15px;
    float: left;
}

.content article:after {
    content: '';
    display: block;
    clear: both;
}

article p:first-of-type::first-letter{
    font-size: 32px;
    font-weight: bold;
    color: rgb(179, 133, 117);
    text-transform: uppercase;
}

footer{
    text-align: center;
    background-color: rgb(204, 204, 204);
    padding: 10px 0;
}
